[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
pyarrow = "*"
mlflow = "*"
protobuf = "==3.20.*"
boto3 = "*"
kaggle = "*"
tensorflow = "*"
sklearn = "*"
matplotlib = "*"

[dev-packages]
notebook = "*"
ipykernel = "*"
hera-workflows = "*"

[requires]
python_version = "3.10"
