[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-chat = "*"
petname = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
streamlit="streamlit run app.py"
